<div class="container">
  <section id="testimonies">
    <h1 class="mb-4">Depoimentos</h1>
    <div class="row">
      <div class="col-md-6">
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title text-dark">Luiz Felipe Santos <small class="text-muted">03/05/2024</small></h5>
            <p class="card-text text-dark">Amei a aula desse homem</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title text-dark">Lausa lausa <small class="text-muted">03/05/2024</small></h5>
            <p class="card-text text-dark">Vários homens selvagens</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="form">
    <h3>Envie seu depoimento</h3>
    <form method="post">
      <div class="mb-3">
        <label for="nome" class="form-label">Nome</label>
        <input type="text" class="form-control" id="nome_usuario" name="nome_usuario" required>
      </div>
      <div class="mb-3">
        <label for="mensagem" class="form-label">Mensagem</label>
        <textarea class="form-control" id="mensagem_usuario" name="mensagem_usuario" rows="3" required></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
  </section>
</div>