<div class="container">
  <section id="testimonies">
    {{itens}}
  </section>

  <section id="form">
    <h3>Envie seu depoimento</h3>
    <form method="post">
      <div class="mb-3">
        <label for="nome" class="form-label">Nome</label>
        <input type="text" class="form-control" id="nome_usuario" name="nome_usuario" required>
      </div>
      <div class="mb-3">
        <label for="mensagem" class="form-label">Mensagem</label>
        <textarea class="form-control" id="mensagem_usuario" name="mensagem_usuario" rows="3" required></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
  </section>
</div>